

  <nav class="camp-navbar">
    <div class="inside">
      <div>
        <a class="navbar-brand" href="/">Camp Plaza</a>
      </div>
      <div class="m-navigation">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">Add Campground</a>
      </div>
      <div class="currentUser">
        <% if(!currentUser) { %>
          <a class="nav-link" href="/login"> Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
         <% } %>
      </div>
      <div class="mobil">
        <div class="menu-icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>
      </div>
  </nav>
  <div class="mobil-nav-1">
    <div class="inside-mobil">
      <div class="mobil-navigation">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">Add Campground</a>
    </div>
    <div class="mobil-user">
      <% if(!currentUser) { %>
        <a class="nav-link" href="/login"> Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else { %>
        <a class="nav-link" href="/logout">Logout</a>
       <% } %>
    </div>   
</div>
</div>